<nav class="navbar navbar-expand-xl px-3 sticky-top">

  <!-- Brand -->
  <a class="navbar-brand" href="/">
    <img src="/static/img/loghi/logo_zeri.png" alt="Logo Zeri" height="35">
  </a>

  <!-- Hamburger mobile -->
  <button class="navbar-toggler" type="button"
          data-bs-toggle="collapse" data-bs-target="#zacNav">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Links -->
  <div class="collapse navbar-collapse" id="zacNav">
    <ul class="navbar-nav ms-auto gap-1">

      <li class="nav-item">
        <a class="nav-link {% if active_tab %}active{% endif %}" href="/cataloghi">Cerca</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if active_page == 'esplora' %}active{% endif %}" href="/esplora">Esplora</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if active_page == 'approfondisci' %}active{% endif %}" href="/approfondisci">Approfondisci</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if active_page == 'progetto' %}active{% endif %}" href="/Il progetto">Progetto</a>
      </li>
    </ul>
  </div>
</nav>